<html>
  <head>
    <meta charset="utf-8">
    <title>S.A.Thomsen</title>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />
    <link rel="icon" href="<%= assetPath("images/favicon.ico") %>">

    <link href="https://fonts.googleapis.com/css?family=Saira|Sedgwick+Ave&amp;subset=latin-ext" rel="stylesheet">
  </head>
  <body>

    <div>
      <header>
          <div class="language-switch">
            <div class="language-switch__option language-switch__option--en" onclick="switchLanguage('en-us')">EN</div>
            <div class="language-switch__option language-switch__option--pl" onclick="switchLanguage('pl-pl')">PL</div>
          </div>

        <div>
          <h1 class="title">sathomsen</h1>
          <h2 class="subtitle">
            <%= t("page-subtitle") %>
          </h2>
        </div>
        <%= partial("menu.html") %>
      </header>

      <%= partial("flash.html") %>
      <%= yield %>

      <footer>
          <%= t("footer-prefix") %> <a href="http://gobuffalo.io/">gobuffalo.io</a>
      </footer>
    </div>
    <%= javascriptTag("old_application.js") %>
  </body>
</html>